.container {
  width: 100%;
  padding: 40px 20px 120px 20px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.column {
  flex-direction: column;
  align-items: flex-start!important;
  /* width: 40%; */
}

.container h1 {
  font-size: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid hsla(0,0%,100%,.1);}

.inner {
  display: flex;
  flex-direction: column;
  gap: 60px;
  width: 45%;
}

.item {
  display: flex;
  align-items: center;
  gap: 16px;
}