.container {
  width: 100%;
  padding: 40px 20px 120px 20px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.inner {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.item {
  display: flex;
  align-items: center;
  gap: 16px;
}